<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
     <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">


    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body class="container">

    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./projects.html" class="btn1 btn-project hvr-float"><span class="icon"></span> Projects </a>
           
        </section>
        </div>
                
    </header>

    <div class="container">
        <section id="main_content">

                <h1 >
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>
                &nbsp; &nbsp; &nbsp; &nbsp; Conferences
            </h1>
         <section id="project">     
            <h3> 
                <ul> 
                    <li>Speaker </a> - Grace Hopper Conference, on the topic <a style="color:#123456;" href="https://www.eiseverywhere.com/ehome/index.php?eventid=153076&tabid=351462&cid=1350690&sessionid=11193766&sessionchoice=1" target="_blank">"DO-AS-CASPOTT: DevOps AutoScaler and Critical Artifact SPOTTer Tool for Cloud Applications" </a></li>
                    <li>Speaker </a> - Grace Hopper Conference, on the topic <a style="color:#123456;" href="https://www.eiseverywhere.com/ehome/index.php?eventid=153076&tabid=351462&cid=1350690&sessionid=11356208&sessionchoice=1" target="_blank">"Talking about your Best Self - Speaking highly of your own Work and Accomplishments" </a></li>
                    <li>Speaker - 5th European Conference on Service-Oriented and Cloud Computing, on the topic <a style="color:#123456;" href="http://esocc2016.eu/cloudwave-training-session/" target="_blank">"Feedback-Driven Development and Developer-Targeted Analytics in CloudWave" </a></li>
                    <li><a style="color:#123456;" href="https://youtu.be/2X0gIuFp5cw" target="_blank">Speaker </a> - Google Developer Groups, Rheinmain, on the topic <a style="color:#123456;" href="http://www.slideshare.net/HariniGunabalan/google-developer-groups-talk-tensorflow" target="_blank">"Machine Learning with TensorFlow" </a></li>
                    <li>Attendee - <a style="color:#123456;" href="http://www.mobileworldcongress.com/" target="_blank">Mobile World Congress 2016, Barcelona,</a> sponsored by SAP University Alliances</li>
                    <li>Attendee - <a style="color:#123456;" href="http://events.sap.com/teched-2015-emea/en/home" target="_blank">SAP TechEd, Barcelona,</a> sponsored by SAP Research </li>
                    <li>Attendee - <a style="color:#123456;" href="http://conference.hitb.org/hitbsecconf2015ams/" target="_blank"> Hack in the box Securite conference, Amsterdam,</a> sponsored by Google </li>
                     <li>Attendee - <a style="color:#123456;" href="https://www.codetalks.de/" target="_blank">Codetalks, Hamburg,</a> sponsored by <a style="color:#123456;" href="http://www.techettes-frankfurt.com/" target="_blank">Techettes-Frankfurt</a>Techettes Frankfurt</a> and Codetalks </li>
                
            </h3> 
    
            
        </section> 
            
            <h1 >
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>
                &nbsp; &nbsp; &nbsp; &nbsp; Awards and Achievements
            </h1>
            
            <section id="project"> 
        
             
                
            <h3> 
                <ul>
                    <li> ACM Student Research Competition 3rd Place winner, Graduate Category in Grace Hopper Conference, Houston, 2016 </li>
                    
                    <li><a style="color:#123456;" href="http://www.maki.tu-darmstadt.de/lehre_7/maki_female_student_travel_award/maki_female_travel_award.en.jsp" target="_blank">MAKI Female Student travel award</a> to attend <a style="color:#123456;" href="http://ghc.anitaborg.org/" target="_blank">Grace Hopper Conference, 2016, Houston.</a> </li>
                    
                    <li>Google travel grant Award-2016 winner to attend <a style="color:#123456;" href="https://www.usenix.org/conference/srecon16europe" target="_blank">Site Reliability Engineering Conference Europe, 2016.</a> </li>
                    
                   <li>Master Thesis work selected as a poster for the ACM Student Research Competition at the<a style="color:#123456;" href="https://www.eiseverywhere.com/ehome/index.php?eventid=153076&tabid=351462&cid=1350690&sessionid=11193766&sessionchoice=1" target="_blank"> Grace Hopper Conference, 2016, Houston. </a>  </li>
                    
                    <li>Winner of SAP TechEd Hackathon to present a prototype at the<a style="color:#123456;" href="http://www.mobileworldcongress.com/" target="_blank"> Mobile World Congress, 2016, Barcelona. </a>  </li>
                    
                    <li>SAP Innojam Hackathon Winner– Coding the Future, 2015, Berlin – Won a ticket to participate at the <a style="color:#123456;" href="http://events.sap.com/teched-2015-emea/en/home" target="_blank">SAP TechEd Conference, 2015, Barcelona</a> and the pre-conference events including another Innojam Hackathon. </li>
                    
                    <li>Winner (3rd place) of the <a style="color:#123456;" href="http://hackathon-rheinmain.de/" target="_blank">RheinMain Hackathon, University of Mainz, Germany.</a> </li>
                    
                    <li><a style="color:#123456;" href="https://conference.hitb.org/hitbsecconf2015ams/google-offering-ten-grants-to-women-researchers-attending-hitb-security-conference-in-amsterdam/" target="_blank">Google travel grant Award-2015 winner</a> to attend <a style="color:#123456;" href="http://conference.hitb.org/hitbsecconf2015ams/" target="_blank">Hack in the Box Security Conference 2015, Amsterdam.</a> </li>
                    <li>Selected for the Fast Track Program at SAP SE (Special Mentoring and Workshops for top 10% Students)  </li>
                    
                    <li>Peer to Peer Recognition Award, SAP SE, for successful completion of complex tasks as an intern. </li>
                    
                    <li>Top Grade Scorer in both Lab Projects undertaken in Winter Semester, 2014 – 15. </li>
                    
                    <li><a style="color:#123456;" href="http://blog.multimedia-communications.net/ausgezeichnet-die-besten-studis-aus-dem-letzten-semester/" target="_blank">Best student award </a> for scoring 1.3 in Communication Networks I, by Prof. Dr. Ralf Steinmetz and hence chosen to attend <a style="color:#123456;" href="http://www.marketing.uni-frankfurt.de/de/news/details/article/e-finance-lab-best-students-event-applications-welcome.html" target="_blank">E-Finance Lab Best Students Event, Goethe University, Frankfurt, 2015</a>.  </li>
                    
                    <li>Spot Award-2013 Winner at Deloitte for mentoring technical new-hires in ABAP development.  </li>
                    
                    <li>Oracle certified Java Programmer (100% score)  </li> 
            </h3> 
    
            
        </section>

             
<br><br>
                <h1 >
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>
                &nbsp; &nbsp; &nbsp; &nbsp; Co-curricular Activities
            </h1>
         <section id="project"> 
        
             
                
            <h3> 
                <ul> 
                    <li>Technical Reviewer of the “Machine Learning with TensorFlow” video Tutorials with <a style="color:#123456;" href="https://www.packtpub.com/" target="_blank"> Packt Publishing.</a></li>
                    <li>Mentor for the <a style="color:#123456;" href="http://www.intern.tu-darmstadt.de/frauenbeauftragte/studentinnen/bigsister/big_sister.en.jsp" target="_blank">Big Sister Mentoring and Networking, TU Darmstadt.</a></li>
                    <li>Student Representative at the SAP TechEd conference to talk about Hackathons and <a style="color:#123456;" href="http://events.sap.com/teched/en/session/26463" target="_blank"> How to Run Simple in a Digital World with 5G at Mobile World Congress 2016 </a></li>
                    <li>Volunteer Coach for the <a style="color:#123456;" href="http://railsgirls.com/frankfurt" target="_blank">Rails Girls Workshop, Frankfurt</a>  and Member of Techettes-Frankfurt, and <a style="color:#123456;" href="http://anitaborg.org/get-involved/systers/" target="_blank">Systers Community</a></li>
                    <li>Attended IBM Bluemix workshop on Cloud Services and IoT at TU Darmstadt, October 2014.  </li>
                    <li>Participated in the SAP Innojam Mobile App competition, 2015, Walldorf, and CloudHackfest, Munich. </li>
                    <li>Volunteer in the Buddy program for mentoring and guiding new campus hires to get accustomed to the professional environment.</li>
                    <li>Organizer of several social activities for the Impact Day, where every employee at Deloitte works for a social cause.</li>
                    <li>Organizer of Samhita, a National level Technical Symposium.</li>
                    <li>Volunteer of the <a style="color:#123456;" href="http://mitindia.edu/nss" target="_blank">National Service Scheme, Madras Institute of Technology, Anna University</a></li>
                    <li>Participant of IBM’s The Great Mind Challenge, 2009, and Microsoft Dream Spark Yatra, 2010.</li>
                
            </h3> 
    
            
        </section>              
                   
            
               
                     
            
        </section>

        <br>
        <br>

               <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
            &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br> <br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
