<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body>

             <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./projects.html" class="btn1 btn-project hvr-float"><span class="icon"></span> Projects </a>
           
        </section>
        </div>
                
    </header>

    <div class="educontainer">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>Education</h1>
        </section>

        <section id="education">
         <h4> 
            <img src="../images/tud_logo.png" height="70" width="140" /> <br> 
            <i class="fa fa-university"></i> Technical University of Darmstadt, Germany <br>
             <i class="fa fa-graduation-cap"></i> Master of Science - Distributed Software Systems <br>
           <i class="fa fa fa-star"> </i> Current CGPA 1.9 <br>
           <i class="fa fa-calendar"> </i> October 2013 - September 2016 <br>
             <i class="fa fa-book"> </i> <a href="./thesis.html" > <font color='blue'>Thesis: Feedback Driven Development of Cloud Applications </font></a>
         
       </h4>
        </section>
<br> <br>

        <section id="education">
         <h4> 
             <img src="../images/MIT_Logo.jpg" height="70" width="100" /> <br> 
            <i class="fa fa-university"></i> Madras Institute of Technology, University Department of Anna University, India <br>
             <i class="fa fa-graduation-cap"></i> Bachelor of Technology - Information Technology <br>
           <i class="fa fa fa-star"> </i>  CGPA 8.7/10 <br>
           <i class="fa fa-calendar"> </i> August 2007 - May 2011 <br>
             <i class="fa fa-book"> </i> Thesis: Hybrid Intrusion Detection Systems (HIDS) using Data Mining Techniques. <br>
             A Hybrid (Signature and Anomaly) IDS is implemented to identify Denial-of-Service attacks. Signature based IDS uses the patterns mined from the Attack Database, and the Anomaly IDS uses a clustering algorithm.
         
       </h4>
        </section> <br> <br>
        
                <section id="education">
         <h4> 
             <img src="../images/rosary%20logo.JPG" height="100" width="80" /> <br> 
            <i class="fa fa-university"></i> Rosary Matriculation Higher Secondary School <br>
             <i class="fa fa-graduation-cap"></i> Higher Secondary School<br>
           <i class="fa fa fa-star"> </i> Grade 94.83% (99% in Maths and 100% in Physics) <br>
           <i class="fa fa-calendar"> </i> 2005 - 2007
         
       </h4>
        </section> <br> <br>
        
                <section id="education" align="right">
         <h4> 
             <img src="../images/rosary%20logo.JPG" height="100" width="80" /> <br> 
            <i class="fa fa-university"></i> Rosary Matriculation Higher Secondary School<br>
             <i class="fa fa-graduation-cap"></i> Master of Science - Distributed Software Systems <br>
           <i class="fa fa fa-star"> </i> Grade 94.27% (100% in Maths and Physical Science) <br>
           <i class="fa fa-calendar"> </i> 2003 - 2005
         
       </h4>
        </section> 
<br> <br>
        
        

        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
            &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
