<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body>
    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
              <a href="./labproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Masters Lab Project</a>
            <a href="./courseproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Masters coursework Projects</a>
           
        </section>
        </div>
                
    </header>

    <div class="container">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a> Projects in Hackathon Competitions</h1>
        </section>

        <section id="project">
            <a name= "StudentOverflow">  <h3> StudentOverflow (Winning Team - 3rd Place) </h3> </a>

            <h5>  The app helps users(students and university members) to figure out "How occupied a particular building(say, Library/Cafeteria) is?". It provides a Web and Mobile application to display current seat availability vs capacity, with attractive and dynamic charts. While doing so, it also provides a twitter chat room for each location, facilitating users to discuss events happening at that location, like "Hey, good food at the Cafeteria today!! Don't miss!!". <br> <br>

<strong> Technologies Used: </strong> IBM Bluemix Cloud, NodeJS Server, Cloudant NoSQL Database, Android Geofensing with foreground service, UI - Web & Mobile friendly AdminLTE Bootstrap, D3js. <br><br>

    <strong> Video Demo: </strong>                
<a style="color:#b5e853;" href="https://youtu.be/cw-NKMBVVkk?list=PLcnbyt0oH1b4rGmh0coR1KxFhjNXsqkC5" target="_blank">
https://youtu.be/cw-NKMBVVkk?list=PLcnbyt0oH1b4rGmh0coR1KxFhjNXsqkC5 </a> </h5>
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/Hariharan-Gandhi/StudentOverflow" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/Hariharan-Gandhi/StudentOverflow/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/Hariharan-Gandhi/StudentOverflow/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/Hariharan-Gandhi/StudentOverflow/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/Hariharan-Gandhi/StudentOverflow/zipball/master" class="btn1 btn-gitzip hvr-float"><span class="icon"></span>Download zip</a>
        </section>


        <section id="project">
            <a name= "SAPOnTime">  <h3> SAP On Time </h3> </a>

            <h5> Business innovation and IT SAP mobile app competition took place at SAP headquarters in Walldorf which aimed at creating an app that fosters productivity in the workplace at SAP. We learned about SAP software, collaborated and co-innovated with fellow enthusiasts from SAP, developed prototypes of solutions to complex real business cases and themes, and presented to an expert jury. <br> <br>

The app is named SAP On-Time and aims at scheduling/rescheduling/cancelling meetings and informing colleagues about late arrivals (Email notifications/Telephone calls). Meeting updates can be sent and it helps in users to be more punctual through gamification. <br><br>

<strong> Tools and Technologies: </strong> 32 hours of hands-on experience with Technologies such as: Fiori UX, SAP UI5, SAP HANA Cloud Platform, JSON, XML, HTML5, CSS3, JavaScript, MVC Architecture and Innovative Design Thinking methodology with on-site domain experts from SAP. <br><br>

<strong> App URL: </strong> <a style="color:#b5e853;" href="https://sapinnojamteam7-d063995trial.dispatcher.hanatrial.ondemand.com/" target="_blank"> SAP On-Time</a> (Login using SAP HCP Account) 
        </h5>
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/harinigunabalan/SAP-OnTime" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/harinigunabalan/SAP-OnTime/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/harinigunabalan/SAP-OnTime/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/harinigunabalan/SAP-OnTime/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/harinigunabalan/SAP-OnTime/zipball/master" class="btn1 btn-gitzip hvr-float"><span class="icon"></span>Download zip</a>
        </section>
        
        
                <section id="project">
                    <a name= "Orchestra">  <h3> Orchestra Company SAP Solutions (Winning Team) </h3> </a>

            <h5>  This Hackathon project involved prototyping ideas for the Media and Entertainment Industry. As a part of the Design Thinking process, we interacted with Customers from the Berlin Philharmonikar. During the interviews, clarity on what exactly the customers require was known. 

Based on the interviews, a prototype application with the following features was built:  <br> <br>
                
★ Online Job Application Portal <br>
★ Profile Creation to upload videos/recordings of Past performances <br>
★ Two-way education portal through Feedback. <br>
★ MOOC courses for budding musicians who get expert feedback through existing Musicians in the Orchestra, through online chat and feedback. <br>
★ Separate logins for Admin and Public. <br>
★ Admins are able to monitor the applicants and choose the best from the talent pool. <br>
★ Latest News/Events/Updates about the company <br>

  <br> <br>
                
<strong> Tools and Technologies: </strong> SAP HANA Cloud Platform, SAP UI5, Java Script, MVC Architecture,  JSON, XML, HTML5, CSS3 <br><br>
                
                
<strong> App URL: </strong> <a style="color:#b5e853;" href="https://team3-i320485trial.dispatcher.hanatrial.ondemand.com/" target="_blank"> SAP Berliner Philharmonikar Orchestra </a> (Login using SAP HCP Account)  </h5>
        </section>

                <section id="downloads">
            <br>
            <a href="https://github.com/harinigunabalan/SAP-Berlin-Philharmonic-Orchestra" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/harinigunabalan/SAP-Berlin-Philharmonic-Orchestra/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/harinigunabalan/SAP-Berlin-Philharmonic-Orchestra/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/harinigunabalan/SAP-Berlin-Philharmonic-Orchestra/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/harinigunabalan/SAP-Berlin-Philharmonic-Orchestra/zipball/master" class="btn1 btn-gitzip hvr-float"><span class="icon"></span>Download zip</a>
        </section>
        
        
                <section id="project">
                    
        <a name= "SuperMarket"> <h3> SU-per Market App for Super Users </h3> </a>

            <h5>  Using the Android Geofencing Services, Supermarkets send a list of offer products to the users when they enter the Supermarket. The users do not miss any offer products and the supermarket can promote their sales, leading to a win-win situation. <br> <br>

<strong> Technologies Used: </strong> Android Geofensing with foreground service, Hybris YaaS Cloud Services.  <br>

     </h5>
        </section>        
        
        <br>
        <br>

                <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
            &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github and uses Google Analytics <br>
               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> 
            </footer>

    </div>


</body>

</html>
