<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "../index.html";
        }
    </script>

</head>

<body>

    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./hackproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Hackathon Projects</a>
            <a href="./thesis.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Master Thesis</a>    
           
        </section>
        </div>
                
    </header>

    <div class="container">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>Projects in Masters</h1>
        </section>

        <section id="project">
          <a name= "LocalSiri">  <h3> Local Siri </h3> </a>

            <h5>  Local Siri is an Android Application that opportunistically senses and uploads users Location data adapting to the user's Context such as battery level and connectivity. This App helps users with their queries by providing a Location based chat Forum. Data collection and upload is implemented as a background service. It includes a monitoring feature to visualize this. It involves Efficient Processing of Location Data and Intelligent User Aggregation based on the Context. <br> <br>
         IBM BlueMix (PaaS) cloud platform is used for developing the Server Side components, for supporting large User Scalability, Grouping Location based information, pushing Notifications to relevant Users. Querying the huge location data is done by map-reduce paradigm supported by the Mobile Data Cloudant (DBaaS) that uses CouchDB as the backend database. Push Service helps to notify users through the configured Google Cloud Messaging API.<br> <br>

<strong> Technologies: </strong> Android, Java, Node.js scripting, IBM Bluemix Cloud Services (Mobile Data and Push), HoloGramChart, Git, Google Cloud Messaging, Intellij Android Studio, IBM Jazzhub, JSON <br> <br>

<strong> Video Demo: </strong>                
<a style="color:#b5e853;" href="https://www.dropbox.com/s/0bzvy1noq8fk2l6/LocalSiri_Video_Demo.mp4?dl=0" target="_blank">
click here for the video </a>         
         
        </h5>
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/harinigunabalan/LocalSiri" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/harinigunabalan/LocalSiri/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/harinigunabalan/LocalSiri/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/harinigunabalan/LocalSiri/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/harinigunabalan/LocalSiri/zipball/master" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download zip</a>
        </section>


        <section id="project">
            <a name="WiFriends"> <h3> WiFriends </h3>  </a>

            <h5> WiFriends is a Social Networking Android Application that automatically exchanges User profile via device-to-device communication. It uses Wi-Fi Direct Network Service Discovery to discover friends and share profile information among friends. <br> <br>

Secure Data transmission is accomplished by encrypting the user profile and images using AES 256 bit encryption. The AES key is exchanged securely via Near Field Communication(NFC) during the add friend stage. Material Design UI (Android Lollipop) is also incorporated into the application. <br> <br>

<strong> Technologies: </strong> Android, Java, SQLite, Cryptography: AES 256 Encryption, WifiP2P API, Spongy Castle API, Git, Android SDK, Material Design UI for Android Lollipop, JSON, GSON API <br> <br> 
        
        
            <strong> White Paper: </strong> <a style="color:#b5e853;" href="https://www.dropbox.com/s/gecbzkny85bip30/WiFriends%20-%20A%20Decentralized%20Social%20Network%20using%20WiFi%20Direct.pdf?dl=0" target="_blank"> click here to view the paper </a>  </h5>
       
                
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/Hariharan-Gandhi/WiFriends" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/Hariharan-Gandhi/WiFriends/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/Hariharan-Gandhi/WiFriends/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/Hariharan-Gandhi/WiFriends/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/Hariharan-Gandhi/WiFriends/zipball/master" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download zip</a>
        </section>
        <br>
        <br>
        
        <section id="project">
            <a name= "Omazon">  <h3> Omazon Logistics </h3> </a>
        

            <h5>  This project involves the development of an Enterprise Solution to a company that provides high quality logistics services to customers with real-time shipment tracking. <br><br>

This ERP solution uses Java EE components for an Online Inventory similar to Amazon, with MS SQL Server Database, and Java EE components (Enterprise Beans, Java Server Faces/Pages, Java Persistence API, Hibernate)<br><br>
<strong> Features Developed: </strong><br>
• Customer and Product Data Management<br>
• Order Process Support<br>
• Reactive ERP(JMS, XML payload) – Shipment Tracking + Notification on exceptional events <br>
• Automated Shipment Status Updates <br>
• Shipment Position Updates <br>
• Mobile Clients with local DB for Offline Support 
<br> <br>
<strong> Technologies: </strong> JAVA EE, EJB3, JSP/JSF, JMS queues and topics, XML, JPA, HIBERNATE, JBOSS, MSSQL, MVC Architecture, Git
            </h5>
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/harinigunabalan/MiddlewareJEE" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/harinigunabalan/MiddlewareJEE/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/harinigunabalan/MiddlewareJEE/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/harinigunabalan/MiddlewareJEE/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/harinigunabalan/MiddlewareJEE/zipball/master" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download zip</a>
        </section>


        <section id="project">
            <a name= "AudioRecorder"> <h3> CN2 Audio Recorder </h3> </a>

            <h5> This is an Android Application to record loss-less Audio Samples as WAV files for classification tasks to be used for voice processing apps like Google Voice or Siri. <br><br>
<strong> Features Developed: </strong><br>
• Recording the Audio in WAV format <br>
• Choosing Sampling Rates to Record and Detect supported sampling rates by any Device <br>
• Playback of last recorded Audio file <br>
• File Manager to browse through the list of old recordings <br>
• Compatible with older Android versions starting from Android 2.2(Froyo) <br> <br>

<strong> Technologies:</strong> Eclipse, Java, Android SDK, Git</h5>
        </section>

        <section id="downloads">
            <br>
            <a href="https://github.com/Hariharan-Gandhi/RecordingAudioSamples" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="https://github.com/Hariharan-Gandhi/RecordingAudioSamples/watchers" class="btn1 btn-gitwatch hvr-float" target="_blank"><span class="icon"></span>Watchers</a>
            <a href="https://github.com/Hariharan-Gandhi/RecordingAudioSamples/stargazers" class="btn1 btn-gitstar hvr-float" target="_blank"><span class="icon"></span>Star-gazers</a>
            <a href="https://github.com/Hariharan-Gandhi/RecordingAudioSamples/network/members" class="btn1 btn-gitfork hvr-float" target="_blank"><span class="icon"></span>Forkers</a>
            <a href="https://github.com/Hariharan-Gandhi/RecordingAudioSamples/zipball/master" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download zip</a>
        </section>
        <br>
        <br>

        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
                       &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
