<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body>

    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
           
        </section>
        </div>
                
    </header>

    <div class="container">
            <section>

            <a name= "Projects"> <h1> &lt/&gt Projects </h1> </a>
            <a href="./hackproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Hackathon Projects</a>    
            <a href="./labproject.html" class=" btn1 btn-project hvr-float"><span class="icon"></span>Projects in Masters</a>
            <a href="./thesis.html" class=" btn1 btn-project hvr-float"><span class="icon"></span>Master Thesis</a>    
        </section>
    
        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
                      &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
