<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
        <!-- Bootstrap: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Bootstrap: Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
        <title>Harini Gunabalan's Work</title>
        <script type="text/javascript">
            function gotoHome() {
                window.location = "../index.html";
            }
        </script>
    </head>

    <body>
        <header>
            <div class="container">
                <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
                <h2></h2>
                <section id="general">
                <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
                <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
                <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
                <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
                <a href="./projects.html" class="btn1 btn-project hvr-float"><span class="icon"></span> Projects </a>
            </section>
            </div>         
        </header>

        <div class="container">
            <section id="main_content">
                <h1>
                <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a> Technical Competencies: <br>
                <h3>Legend</h3> 
                <button type="button" class="btn btn-success">Advanced</button>                    
                <button type="button" class="btn btn-primary">Intermediate</button>
                <button type="button" class="btn btn-info">Basic</button>
                <br> <br>
                </h1>
                
                <section id="project">    
                    <h5> 
                    Languages: <p> 
                        <button type="button" class="btn btn-success">Java</button>
                        <button type="button" class="btn btn-success">JavaScript</button>
                        <button type="button" class="btn btn-success">SQL</button>
                        <button type="button" class="btn btn-primary">Node.js</button>
                        <button type="button" class="btn btn-primary">Bash</button> 
                        <button type="button" class="btn btn-success">ABAP</button>
                        <button type="button" class="btn btn-info">C</button> 
                        <br> <br>
                    
                    Platforms, Cloud & Servers :   <p> 
                        <button type="button" class="btn btn-success">SAP Cloud Platform</button> 
                        <button type="button" class="btn btn-primary">IBM Bluemix</button> 
                        <button type="button" class="btn btn-info">Hybris YaaS</button> 
                        <button type="button" class="btn btn-success">OS X</button>
                        <button type="button" class="btn btn-primary">Linux</button>
                        <button type="button" class="btn btn-success">Windows</button>
                        <button type="button" class="btn btn-primary">Apache Tomcat</button>
                        <button type="button" class="btn btn-info">JBoss</button>
                        <button type="button" class="btn btn-primary">ActiveMQ for JMS</button>                  
                        <br> <br>
                
                    Web : <p> 
                        <button type="button" class="btn btn-success">HTML5</button>
                        <button type="button" class="btn btn-success">CSS3</button>
                        <button type="button" class="btn btn-success">jQuery</button>
                        <button type="button" class="btn btn-success">OpenUI5/SAPUI5</button>
                        <button type="button" class="btn btn-success">REST APIs</button>
                        <button type="button" class="btn btn-success">Bootstrap</button>
                        <button type="button" class="btn btn-success">XML</button>
                        <button type="button" class="btn btn-success">JSON</button>          
                         <br> <br>
                    
                      Android: <p> 
                        <button type="button" class="btn btn-primary">Material Design</button>
                        <button type="button" class="btn btn-primary">Google Play Services</button>
                        <button type="button" class="btn btn-primary">Spongy Castle API</button>
                        <button type="button" class="btn btn-success">Fused Location API</button>
                         <br> <br>
                             
                
                    Databases: <p> 
                        <button type="button" class="btn btn-success">SAP HANA</button>
                        <button type="button" class="btn btn-success">No SQL</button>                    
                        <button type="button" class="btn btn-info">Elastic Search</button>                  
                        <button type="button" class="btn btn-primary">ORM</button>
                        <button type="button" class="btn btn-primary">Hibernate</button>
                        <button type="button" class="btn btn-success"> MySQL</button>
                        <button type="button" class="btn btn-primary"> MS SQL</button>
                        <button type="button" class="btn btn-info">DB2</button><br> <br>
    
                    
                    IDE: <p> 
                        <button type="button" class="btn btn-success">IntelliJ IDEA</button>
                        <button type="button" class="btn btn-success">Eclipse</button>
                        <button type="button" class="btn btn-success">Eclipse Plugin Development</button>
                        <button type="button" class="btn btn-success">SAP WebIDE </button>
                        <button type="button" class="btn btn-success">Brackets</button>
                        <button type="button" class="btn btn-success">Sublime</button> 
                        <button type="button" class="btn btn-success">Atom</button>   
                        <button type="button" class="btn btn-success">Vim</button>                  
                        <br> <br>
                    
                    Other Tools / CI-CD: <p> 
                        <button type="button" class="btn btn-success">Git</button>                    
                        <button type="button" class="btn btn-success">GitHub</button>
                        <button type="button" class="btn btn-success">Jenkins</button>
                        <button type="button" class="btn btn-success">Gerrit</button>
                        <button type="button" class="btn btn-success">JIRA</button>
                        <button type="button" class="btn btn-primary">BitBucket</button>
                        <button type="button" class="btn btn-info">SVN</button>
                        <button type="button" class="btn btn-success">LaTeX</button>
                        <button type="button" class="btn btn-primary">MATLAB</button>  <br> <br>
                    </h5> 
                </section>
            </section>
            <br> <br>

            <footer class="footer">
                <hr> <br>
                <section id="downloads">
                    <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                    <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                    <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                    <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
                </section> <br>
                       &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
    <!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>
        </div>
    </body>

</html>
