<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body>

    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./labproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Projects in Masters</a>
            <a href="./hackproject.html" class="btn1 btn-project hvr-float"><span class="icon"></span>Hackathon Projects</a>
           
        </section>
        </div>
                
    </header>

    <div class="container">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>Master Thesis</h1>
        </section>

        <section id="project">
          <a name= "LocalSiri">  <h3> Feedback Driven Development of Cloud Applications </h3> </a>
<div class='container2'>
		<div>
            <a href='http://www.slideshare.net/HariniGunabalan/feedback-driven-development' target="_blank">
			<img src='http://image.slidesharecdn.com/fddharini-160920155148/95/feedback-driven-development-1-638.jpg?cb=1474386886' class='imageleft'></a>
		</div>	
    <div class='margin-left:px;'>
            <h5>  	The thesis contributes a new auto-scaling system that can be adapted to any cloud platform. It proposes a new monitoring system that collects relevant metrics to make important scaling decisions. Using the collected metrics, the design aims to provide an efficient feedback to the cloud DevOps. The collected feedback is integrated into the development environment so that developers are able to utilize the feedback to make their applications better scalable and highly available. On the other hand, this feedback can also be used to automate configuration management and to facilitate dynamic infrastructure provisioning. In this thesis, the monitoring metrics are aggregated for a sufficient period to make scaling decision. Scaling decisions can depend on a single metric or even a combination of metrics that can be customized by the cloud application developer. <br> <br>
	
	The thesis also models the monitored information collected by the monitoring component of the auto-scaler, to identify a suitable correlation model. The model provides a better understanding of the relation between the collected metrics. <br> <br>

<strong> Technologies: </strong> Java, Cloud Foundry, OpenStack, MySQL DB, MATLAB System Identification Toolbox, Git, JSON <br> <br>
	</div>
</div>                

<!--<strong> Video Demo: </strong>                
<a style="color:#b5e853;" href="https://www.dropbox.com/s/0bzvy1noq8fk2l6/LocalSiri_Video_Demo.mp4?dl=0" target="_blank">
click here for the video </a>  -->       
         
        </h5>
        </section>

        <section id="downloads">
            <br>
            <a href="http://www.slideshare.net/HariniGunabalan/feedback-driven-development" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View Presentation</a>
            <a href="https://github.com/harinigunabalan/MasterThesis" class="btn1 btn-gitview hvr-float" target="_blank"><span class="icon"></span>View on Github</a>
            <a href="./thesis/Harini_TUDthesis.pdf" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download PDF</a>
            <a href="https://github.com/harinigunabalan/MasterThesis/zipball/master" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download zip</a>
            <a href="./thesis/GHC16_Poster.pdf" class="btn1 btn-gitzip hvr-float" target="_blank"><span class="icon"></span>Download Poster</a>
        </section>
        <br>
        <br>

        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
                       &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
