<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "../index.html";
        }
    </script>

</head>

<body>

             <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            
            <a href="./work.html" class="btn1 btn-work hvr-float"><span class="icon"></span> Work </a>
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./projects.html" class="btn1 btn-project hvr-float"><span class="icon"></span> Projects </a>
           
        </section>
        </div>
                
    </header>

    <div class="educontainer">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>My Videos</h1>
        </section>
        
        <div class="row">
<div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay loop class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
</div>
            
              <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
            
              <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
            
              <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
            
              <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
            
              <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

        

        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
            &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github; tracked by Google Analytics <br><br>
<!--               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> -->
            </footer>

    </div>


</body>

</html>
