<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>Harini Gunabalan's Projects</title>

    <script type="text/javascript">
        function gotoHome() {
            window.location = "/index.html";
        }
    </script>

</head>

<body>

    <header>

        <div class="container">
            <h1> <img src="../images/home.jpg" class="hvr-float" height="42" width="42" onclick = "gotoHome();" />  ./Harini Gunabalan</h1>
            <h2></h2>
            <section id="general">

            <a href="./education.html" class="btn1 btn-education hvr-float"><span class="icon"></span>Education</a>
           
            <a href="./skills.html" class="btn1 btn-skill hvr-float"><span class="icon"></span> Skills </a>
            <a href="./achievements.html" class="btn1 btn-award hvr-float"><span class="icon"></span> Achievements </a>
            <a href="./projects.html" class="btn1 btn-project hvr-float"><span class="icon"></span> Projects </a>
           
        </section>
        </div>
                
    </header>

    <div class="container">
        <section id="main_content">
            <h1>
            <a id="harini-gunabalan" class="anchor" href="#harini-gunabalan" aria-hidden="true"><span class="octicon octicon-link"></span></a>Professional Experience</h1>
        </section>

    <section id="project" align="right">
         <h4> 
             <img src="../images/SAP.png" height="42" width="80" /> <br>
             <strong> 
            <i class="fa fa-university"></i> SAP Research, Darmstadt, Germany <br>
             <i class="fa fa-laptop"></i> Master Thesis Research Student <br>
           <i class="fa fa-calendar"> </i> November 2015 - Present <br>
             <i class="fa fa-list-ul"> </i> Feedback Driven Development (FDD) in Cloud Applications <br> </strong>
            This thesis work involves the design and development of an efficient FDD IDE Plugin (Eclipse and/or a browser based, SAP Web IDE plugin) for cloud Applications. The research focuses on mapping the source code artifacts to the set of operation Data points that are collected by logs/analytics of the cloud Applications. The logs are retrieved using Elastic Search standing queries and mapped using static/dynamic code analysis. This thesis work is a Collaboration with the Software Technology Group, TU Darmstadt and SAP Research, Germany.
       </h4>
        </section> 
<br> <br>

    <section id="project" align="right">
         <h4>
             <img src="../images/SAP.png" height="42" width="80" /> <br>
             <strong> 
            <i class="fa fa-university"></i> SAP Research, Darmstadt, Germany <br>
             <i class="fa fa-laptop"></i> Graduate Student Researcher on the HANA Cloud Platform <br>
           <i class="fa fa-calendar"> </i> July 2015 - October 2015 <br>
             <i class="fa fa-list-ul"> </i> Work Description: <br> </strong>
             <ul> 
            <li>Developed Java and Web Applications on the HANA Cloud Platform (HCP).</li>    
            <li>Worked on Software Development Tools (SAP Web DIE ) for the HCP.</li>      
            <li>Eclipse Plugin Development for Java Developers on the Hana Cloud Platform, based on the data obtained from the SAP Web Analytics famework. It produces clickstreams of all the UI(SAP UI5/HTML5) components of the existing Web Applications. </li>                
            <li>In the Eclipse PDE, focussed on the OSGi specification: Eclipse 4 Application Model, Parts, Views, Editors etc. Developed Eclipse 4 RCP plugins for visualizing the analytics data for the Cloud Developers. </li>  
             <li>Research work as a part of the <a href="http://cloudwave-fp7.eu/content/feedback-driven-development" target="_blank"> Feedback driven development of the Cloudwave project </a>, an EU funded research project. </li> 
       
              
         </ul>
       </h4>
        </section> 
<br> <br>
        
                <section id="project" align="right">
         <h4><img src="../images/SAP.png" height="42" width="80" /> <br>
             <strong> 
            <i class="fa fa-university"></i> SAP SE, Global Headquarters - Walldorf, Germany <br>
             <i class="fa fa-laptop"></i> Intern, Center of Expertise (CoE), EMEA FI HCM/EPM <br>
           <i class="fa fa-calendar"> </i> April 2015 - June 2015 <br>
             <i class="fa fa-list-ul"> </i> Work Description: <br> </strong>
             <ul> 
            <li>Performance Analysis of SAP System metrics such as number of work processes, CPU consumption, Paging & Memory Utilization, Queue Lengths, Sessions in each of the Application Servers at the production environment.</li>  
             <li>Analyzing MDX queries in BPC on HANA, snapshot overviews for each of the Application Servers, Error (Dumps and Application Logs) messages, and Performance Statistics Reports</li> 
             <li>Service order processing in the SAP CRM system, performed Solution Manager Tasks connecting to Citrix systems, implemented SAP Notes, Trained on SAP UI5, Fiori UX Apps, and Software Development on HANA.</li>  
             
              <li>Performance Optimization of Java and ABAP code.</li> 
         </ul>
       </h4>
        </section> 
<br> <br>
        
                <section id="project" align="right">
         <h4> <img src="../images/deloitte.png" height="42" width="180" /> <br> 
             <strong> 
            <i class="fa fa-university"></i> Deloitte Consulting India Private Limited, Bangalore, India <br>
             <i class="fa fa-laptop"></i> Business Technology Analyst – ABAP Developer <br>
           <i class="fa fa-calendar"> </i> June 2011 - September 2013 <br>
             <i class="fa fa-list-ul"> </i> Work Description: <br>  </strong>
             <ul> 
            <li>Worked as an ABAP software developer to provide custom solutions to the clients (from USA, Germany and France). </li>  
             <li>Developed RICEF objects in ABAP including Module Pool programming, high complex Enhancements and Conversions, Interactive ALV reports, Adobe Forms, Smart Forms, HR ABAP and OO ABAP objects. </li> 
             <li>Worked for an upgrade project that involved migration and integration of the legacy SAP ECC 4.7 systems to SAP ECC 6.0 </li>  
             <li>Gained Good Understanding of end to end core business process areas such as the Sales and Distribution module (SD), Financial Accounting (FI) Material Management (MM), Human Resources (HR), Plant Maintenance (PM) and Production Planning (PP) modules. </li> 
              <li>Worked for 5 different client projects based on the following industries: Consumer and Industrial Products Service Area, Health Care Providers and Insurance Service Area.</li> 
              <li>Exhibited good communication skills coordinating with the onsite team, delivered tasks with minimal defects an high quality within strict deadlines.</li> 
         </ul>
       </h4>
        </section> 
<br> <br>
        
        
        <!--<div class="footer">&copy; Copyrights Harini Gunabalan</div>-->
        <footer class="footer">
            <hr> <br>
                        <section id="downloads">
                <a href="https://github.com/harinigunabalan" class="btn1 btn-github hvr-float" target="_blank"><span class="icon"></span>View on GitHub</a>
                <a href="https://twitter.com/harinigunabalan" class="btn1 btn-twitter hvr-float" target="_blank"><span class="icon"></span>Follow on Twitter</a>
                <a href="https://de.linkedin.com/in/harinigunabalan24590" class="btn1 btn-linkedin hvr-float" target="_blank"><span class="icon"></span>View on Linkedin</a>
                <a href="mailto:harinigunabalan24@gmail.com" class="btn1 btn-email hvr-float" target="_blank">Email Me<span class="icon"></span></a> 
            </section> <br>
            
            &copy; Copyrights, Designed and Developed by Harini Gunabalan. Hosted on Github and uses Google Analytics <br>
               <a href="https://github.com/harinigunabalan/harinigunabalan.github.io" target="_blank">Source</a> 
            </footer>

    </div>


</body>

</html>
